<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuleme.business">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23650703" /> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="44251471e875432d116765e2f5b75583" /> <!-- 请填写你自己的appSecret -->
        <!-- <activity android:name=".MainActivity" /> -->
        <service android:name=".download.DownLoadService" />

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.FragmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StoreAggregationQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BusinessApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClerkManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activity.EmployeeCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanReceiptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisteredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="图库"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".activity.UploadPicturesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentCodeActivity"
            android:screenOrientation="portrait" />
        //消息接收Receiver配置
        <receiver
            android:name=".MyMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.RegistrationStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.OrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContractrateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BasicInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MemberManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CouponsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddCoupinsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CouponsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanEntranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderRefundActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CustomerEvaluationActivity" />
        <activity android:name=".activity.AboutManualActivity" />
        <activity
            android:name=".activity.Printer.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/WindowActivity" />
        <activity android:name=".activity.ClerkDetailsActivity" />

        <service android:name=".posliandi.MyService" />

        <activity android:name=".activity.Version2.ContactServiceActivity" />
        <activity android:name=".activity.Version2.SBasicInformationActivity"></activity>
    </application>

</manifest>